In [1]:
import pymongo
conn = pymongo.MongoClient("mongodb://localhost:27017/")

In [2]:
db = conn['college']
col=db['studlist']

In [4]:
value=[
    {"Name":"Subi","Age":21,"Married":True},
    {"Name":"SOORYA","Age":30,"Married":True,"_id":1},
    {"Name":"Subi","course":"MCA"}
        ]
col.insert_many(value)

# var=col.find({},{"Name":1,"_id":0})
# for i in var: 
#     print(i)

InsertManyResult([ObjectId('6829830fe660aa8940bb6e2a'), 1, ObjectId('6829830fe660aa8940bb6e2b')], acknowledged=True)

In [ ]:
value = {"Name":"Tina","Age":33,"Married":"never"}
col.insert_one(value)

InsertOneResult(ObjectId('682984fae660aa8940bb6e2c'), acknowledged=True)

In [ ]:
var=col.find({},{"Name":1,"_id":0})
for i in var: 
    print(i)

{'Name': 'Subi'}
{'Name': 'SOORYA'}
{'Name': 'Subi'}
{'Name': 'Tina'}

In [9]:
var = col.find({"Name":"Tina"},{"Name":1,"_id":0})
for i in var:
    print(i)

{'Name': 'Tina'}

In [10]:
var = col.find({"Name":"Subi","Age":21},{})
for i in var:
    print(i)

{'_id': ObjectId('6829830fe660aa8940bb6e2a'), 'Name': 'Subi', 'Age': 21, 'Married': True}

In [12]:
value={"Name":"ku10 ", "Age":21 , "Married" :True }
col.insert_one(value)

InsertOneResult(ObjectId('68298769e660aa8940bb6e2d'), acknowledged=True)

In [ ]:
var = col.find({"Age":21},{"Name":1,"Married":1,"_id":0}).limit(1)
for i in var:
    print(i)

{'Name': 'Subi', 'Married': True}

In [14]:
var = col.find({"Age":21},{"Name":1,"Married":1,"_id":0}).limit(2)
for i in var:
    print(i)

{'Name': 'Subi', 'Married': True}
{'Name': 'ku10 ', 'Married': True}

In [15]:
var = col.find({},{"Name":1,"Age":1,"_id":0}).sort({"Age":-1})
for i in var:
    print(i)

{'Name': 'Tina', 'Age': 33}
{'Name': 'SOORYA', 'Age': 30}
{'Name': 'Subi', 'Age': 21}
{'Name': 'ku10 ', 'Age': 21}
{'Name': 'Subi'}

In [17]:
var = col.find({"Age":{"$gt":21}},{"Name" : 1 , "Age":1 ,"_id":0})
for i in var:
    print(i)

{'Name': 'SOORYA', 'Age': 30}
{'Name': 'Tina', 'Age': 33}

In [19]:
var = col.find({"Age":{"$gte":21}},{"Name":1,"_id":0}).sort({"Age":-1})
for i in var:
    print(i)

{'Name': 'Tina'}
{'Name': 'SOORYA'}
{'Name': 'Subi'}
{'Name': 'ku10 '}

In [20]:
var= col.find({"$or":[{"Age":21},{"Married":"never"}]},{"Name":1, "_id":0})
for i in var:
    print(i)

{'Name': 'Subi'}
{'Name': 'Tina'}
{'Name': 'ku10 '}

In [25]:
cond = {"Age":21}
newvalue={"$set":{"Place":"kottayam"}}
col.update_many(cond,newvalue)

UpdateResult({'n': 2, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [26]:
col.delete_many({"Age":33})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [27]:
value={"Name":"Tina" , "Age":34 , "Married":True}
col.insert_one(value)

InsertOneResult(ObjectId('68298bb8e660aa8940bb6e2e'), acknowledged=True)

In [28]:
cond ={"Name" :"Tina"}
newvalue = {"$set": {"Place" :"gadi"}}
col.update_one(cond,newvalue)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [29]:
col.delete_one({"Age":21})
var = col.find()
for i in var:
    print(i)

{'_id': 1, 'Name': 'SOORYA', 'Age': 30, 'Married': True}
{'_id': ObjectId('6829830fe660aa8940bb6e2b'), 'Name': 'Subi', 'course': 'MCA'}
{'_id': ObjectId('68298769e660aa8940bb6e2d'), 'Name': 'ku10 ', 'Age': 21, 'Married': True, 'Place': 'kottayam'}
{'_id': ObjectId('68298bb8e660aa8940bb6e2e'), 'Name': 'Tina', 'Age': 34, 'Married': True, 'Place': 'gadi'}

In [30]:
val = col.find({"Name":{"$regex":"^S"}},{"_id":0})
for i in val:
    print(i)

{'Name': 'SOORYA', 'Age': 30, 'Married': True}
{'Name': 'Subi', 'course': 'MCA'}

In [31]:
val = col.find({"Name":{"$regex":"a$"}},{"_id":0})
for i in val:
    print(i)

{'Name': 'Tina', 'Age': 34, 'Married': True, 'Place': 'gadi'}

In [32]:
val = col.find({"Name":{"$regex":"^T.*a$"}},{"_id":0})
for i in val:
    print(i)

{'Name': 'Tina', 'Age': 34, 'Married': True, 'Place': 'gadi'}

In [36]:
val = col.find({"$and":[{"Age":{"$gt":20}},{"Age":{"$lt":35}}]},{"Name":1,"_id":0})
for i in val:
    print(i)

{'Name': 'SOORYA'}
{'Name': 'ku10 '}
{'Name': 'Tina'}