In [ ]:
# create database and collection insert value student collection
# 1. Display name ( both first name and last name),MArk of all female students in mca -1
# 2. display the details of student who secured highest mark in the course mca -1
# 3. display all male students who scored a plus grade -1
# 4  display top 5 students in mechanical department (top 2 students in mca dept) -1
# 5  display female students with marks more than 90 -1
# 6  display studnts with mark bn 80 and 90 -1
# 7  display students with name starting with a -1
# 8  display students from tsr -1
# 9  display students neither from malappuram nor from tvm -1

In [2]:
import pymongo
conn=pymongo.MongoClient("mongodb://localhost:27017/")
db = conn["mydatabase"]
col =db ["students"]

In [15]:
values=[{"first name":"arivendu","last name":"kj","gender":"male","mark":95,"grade":"aplus","place":"kottayam"},
        {"first name":"tina","last name":"francis","gender":"female","mark":95,"grade":"aplus","place":"thrissur"},
        {"first name":"Afrake","last name":"muthumani","gender":"male","mark":85,"grade":"a","place":"malappuram"},
        {"first name":"misira","last name":"sherif","gender":"female","mark":88,"grade":"a","place":"palakkad"}]

# col.update_many(values)
col.update_many({}, {"$set": {"course": "MCA"}})

UpdateResult({'n': 4, 'nModified': 4, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [5]:
#1
data1=col.find({"gender":"female"},{"_id":0,"place":0,"grade":0,"gender":0})

In [6]:
for i in data1:
    print(i)

{'first name': 'tina', 'last name': 'francis', 'mark': 95}
{'first name': 'misira', 'last name': 'sherif', 'mark': 88}

In [19]:
#3
data2=col.find({"gender":"male","grade":"aplus"},{"_id":0})
for i in data2:
    print(i)

{'first name': 'arivendu', 'last name': 'kj', 'gender': 'male', 'mark': '95', 'grade': 'aplus', 'place': 'kottayam'}

In [11]:
#7
data3=col.find({"first name":{"$regex":"^a|^A"}},{"_id":0})

In [12]:
for i in data3:
    print(i)

{'first name': 'arivendu', 'last name': 'kj', 'gender': 'male', 'mark': 95, 'grade': 'aplus', 'place': 'kottayam'}
{'first name': 'Afrake', 'last name': 'muthumani', 'gender': 'male', 'mark': 85, 'grade': 'a', 'place': 'malappuram'}

In [31]:
#8
data4=col.find({"place":"thrissur"},{"_id":0})
for i in data4:
    print(i)

{'first name': 'tina', 'last name': 'francis', 'gender': 'female', 'mark': '95', 'grade': 'aplus', 'place': 'thrissur'}

In [48]:
#5
data5=col.find({"gender":"female","mark": {"$gt" : 90} },{"_id":0})
for i in data5:
    print(i)

{'first name': 'tina', 'last name': 'francis', 'gender': 'female', 'mark': 95, 'grade': 'aplus', 'place': 'thrissur', 'course': 'MCA'}

In [ ]:
#6

data6 = col.find({"mark": {"$gte": 80, "$lte": 90}}, {"_id": 0})
for i in data6:
    print(i)

{'first name': 'afrake', 'last name': 'muthumani', 'gender': 'male', 'mark': 85, 'grade': 'a', 'place': 'malappuram'}
{'first name': 'misira', 'last name': 'sherif', 'gender': 'female', 'mark': 88, 'grade': 'a', 'place': 'palakkad'}

In [ ]:
data10=col.find({"gender":"female"},{"_id":0,"mark":1,"first name":1,"last name":1})
for i in data10:
    print(i)

{'first name': 'tina', 'last name': 'francis', 'mark': 95}
{'first name': 'misira', 'last name': 'sherif', 'mark': 88}

In [37]:
#9
data11=col.find({"place":{"$nin":["malappuram","trivandrum"]}},{"_id":0})
for i in data11:
    print(i)

{'first name': 'arivendu', 'last name': 'kj', 'gender': 'male', 'mark': 95, 'grade': 'aplus', 'place': 'kottayam', 'course': 'MCA'}
{'first name': 'tina', 'last name': 'francis', 'gender': 'female', 'mark': 95, 'grade': 'aplus', 'place': 'thrissur', 'course': 'MCA'}
{'first name': 'misira', 'last name': 'sherif', 'gender': 'female', 'mark': 88, 'grade': 'a', 'place': 'palakkad', 'course': 'MCA'}

In [ ]:
#2
data12 = col.find({"course":"MCA"},{"_id":0}).sort("mark",-1).limit(1)
for doc in data12:
    print(doc)

{'first name': 'arivendu', 'last name': 'kj', 'gender': 'male', 'mark': 95, 'grade': 'aplus', 'place': 'kottayam', 'course': 'MCA'}

In [ ]:
#4
data13 = col.find({"course":"MCA"},{"_id":0}).sort("mark",-1).limit(2)
for doc in data13:
    print(doc)

{'first name': 'arivendu', 'last name': 'kj', 'gender': 'male', 'mark': 95, 'grade': 'aplus', 'place': 'kottayam', 'course': 'MCA'}
{'first name': 'tina', 'last name': 'francis', 'gender': 'female', 'mark': 95, 'grade': 'aplus', 'place': 'thrissur', 'course': 'MCA'}